In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mattru,7.6244,-11.8332,75.76,96,100,0.78,SL,2022-05-19 00:50:16
1,1,Bethel,41.3712,-73.4140,63.43,52,100,1.48,US,2022-05-19 00:50:16
2,2,Nome,64.5011,-165.4064,40.15,86,100,9.22,US,2022-05-19 00:50:17
3,3,Tuktoyaktuk,69.4541,-133.0374,32.00,93,100,12.66,CA,2022-05-19 00:50:17
4,4,Vaini,-21.2000,-175.2000,78.96,83,40,6.91,TO,2022-05-19 00:50:18

In [15]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mattru,7.6244,-11.8332,75.76,96,100,0.78,SL,2022-05-19 00:50:16
4,4,Vaini,-21.2000,-175.2000,78.96,83,40,6.91,TO,2022-05-19 00:50:18
16,16,Rikitea,-23.1203,-134.9692,76.84,76,100,15.21,PF,2022-05-19 00:47:30
22,22,Isangel,-19.5500,169.2667,84.31,74,75,4.61,VU,2022-05-19 00:50:25
24,24,Atuona,-9.8000,-139.0333,78.46,69,59,13.80,PF,2022-05-19 00:50:25
26,26,Avarua,-21.2078,-159.7750,78.37,77,27,12.95,CK,2022-05-19 00:50:14
28,28,Sur,22.5667,59.5289,86.49,40,0,10.42,OM,2022-05-19 00:50:27
32,32,Souillac,-20.5167,57.5167,75.58,69,20,6.91,MU,2022-05-19 00:50:29
33,33,Hithadhoo,-0.6000,73.0833,83.19,74,100,13.60,MV,2022-05-19 00:50:29
35,35,San Policarpo,12.1791,125.5072,82.31,81,98,8.23,PH,2022-05-19 00:50:30

In [25]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [26]:
preferred_cities_df.count()

City_ID       146
City          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
Country       146
Date          146
dtype: int64

In [27]:
preferred_cities_df.notnull().sum()

City_ID       146
City          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
Country       146
Date          146
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Mattru      SL     75.76   7.6244  -11.8332
4           Vaini      TO     78.96 -21.2000 -175.2000
16        Rikitea      PF     76.84 -23.1203 -134.9692
22        Isangel      VU     84.31 -19.5500  169.2667
24         Atuona      PF     78.46  -9.8000 -139.0333
26         Avarua      CK     78.37 -21.2078 -159.7750
28            Sur      OM     86.49  22.5667   59.5289
32       Souillac      MU     75.58 -20.5167   57.5167
33      Hithadhoo      MV     83.19  -0.6000   73.0833
35  San Policarpo      PH     82.31  12.1791  125.5072

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

#     "location": "48.8566, 2.3522"}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mattru,SL,75.76,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
4,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
16,Rikitea,PF,76.84,-23.1203,-134.9692,People ThankYou
22,Isangel,VU,84.31,-19.5500,169.2667,Tanna Lodge
24,Atuona,PF,78.46,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
496,Pundaguitan,PH,82.67,6.3711,126.1689,Leonardo Family Beach House 1
516,Gunjur,GM,77.07,13.2019,-16.7339,Jallo Kurundingoto Eco Tourist Camp
517,Makakilo City,US,79.12,21.3469,-158.0858,Marriott's Ko Olina Beach Club
518,Lorengau,PG,86.25,-2.0226,147.2712,Lorengau Harbourside Hotel
522,Akyab,MM,84.00,20.1500,92.9000,Hotel Memory

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))